@{
    ViewData["Title"] = "Contactos";
}
<h1 class="text-primary">@ViewData["Title"]</h1>

<div class="row text-white bg-dark">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-4 px-5">
                <h4 class="font-weight-bold mb-4">NOSOTROS</h4>
                <p>creado por Sebastian</p>
            </div>
            <div class="col-lg-4 px-5">
                <h4 class="font-weight-bold mb-4">RED SOCIAL</h4>
                <p>Facebook: Sebastian Naranjo</p>
                <p>Instagram: Mad.tes</p>
            </div>
            <div class="col-lg-4 px-5">
                <h4 class="font-weight-bold mb-4">CONTACTANOS</h4>
                <div class="d-flex">
                    <p>Telefono (02) 555 5555</p>
                </div>
                <div class="d-flex">
                    <p> Solanda Calle-Simon Guerra</p>
                </div>
                <div class="d-flex">
                    <p> Correo sebasnaranjom@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>